# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.v2
*.bin
*.cache
*.pdb
*.vsidx
.vs/GameEngine/v17/.suo
*.xnb
*.lref
*.baml
/Editor/obj
/.vs
/Editor/obj
/Runtime/obj
*.props
/Engine/Engine.Core/obj
/Content/obj
/Editor2/obj
/Runtime/bin
/Runtime/publish-linux
/Engine/Engine.Core/bin
Editor2/bin/Debug/net8.0-windows/settings.json
